@import url("./loading.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-min-h-screen {
  min-height: calc(100vh - 60px);
}

.custom-box-shadow {
  box-shadow: 0 0 0 99999px rgb(0 0 0 / 60%);
}

@layer base {
  :root {
    --background: 181.1 41.4% 95.5%;
    --foreground: 178.1 21.5% 5.3%;
    --card: 0 0% 100%;
    --card-foreground: 178.1 21.5% 5.3%;
    --popover: 181.1 41.4% 95.5%;
    --popover-foreground: 178.1 21.5% 5.3%;
    --primary: 182.1 94.4% 43.2%;
    --primary-foreground: 179.1 72.7% 17%;
    --secondary: 188.1 12.5% 80.2%;
    --secondary-foreground: 14.1 10.4% 3.9%;
    --muted: 188.1 12.5% 80.2%;
    --muted-foreground: 7.1 42.2% 17.4%;
    --accent: 188.1 12.5% 80.2%;
    --accent-foreground: 14.1 10.4% 3.9%;
    --destructive: 12.1 93.6% 23.7%;
    --destructive-foreground: 182.1 82.4% 47%;
    --border: 178.1 65.6% 85.6%;
    --input: 178.1 65.6% 85.6%;
    --ring: 178.1 21.5% 5.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 201.1 8.5% 1.9%;
    --foreground: 246.7 6.7% 90.2%;
    --card: 201.1 8.5% 10%;
    --card-foreground: 246.7 6.7% 90.2%;
    --popover: 201.1 8.5% 1.9%;
    --popover-foreground: 246.7 6.7% 90.2%;
    --primary: 53.1 88.4% 63%;
    --primary-foreground: 193.1 80.6% 11.5%;
    --secondary: 237.7 46.8% 19.6%;
    --secondary-foreground: 246.7 6.7% 90.2%;
    --muted: 237.7 46.8% 19.6%;
    --muted-foreground: 46.1 85.2% 88.5%;
    --accent: 237.7 46.8% 19.6%;
    --accent-foreground: 246.7 6.7% 90.2%;
    --destructive: 236.7 66.2% 53.6%;
    --destructive-foreground: 246.7 6.7% 90.2%;
    --border: 237.7 46.8% 19.6%;
    --input: 237.7 46.8% 19.6%;
    --ring: 42.1 75.4% 30.3%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
